
input[type="range"] {
    height: 15px;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance:         none;
        width:              25px;
        height:             25px;
        background:         #999;
        border-radius:      50%;
        cursor:             pointer;
        box-shadow:         0 2px 4px 0 rgba(0, 0, 0, .1);
    }

    &::-moz-range-thumb {
        width:         25px;
        height:        25px;
        background:    #999;
        border-radius: 50%;
        cursor:        pointer;
        box-shadow:    0 2px 4px 0 rgba(0, 0, 0, .1);
    }
}

input[type="text"], input[type="number"] {
    @apply shadow appearance-none border rounded p-2;

    &:focus {
        outline: none;
    }
}

input[type="number"] {
    background: black;
    color:      #fff;
}
